<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}">
      <img src="{{ site.url }}/assets/img/logo-mai-warna.svg" width="180" alt="{{ site.title }}"/>
      <span class="h4 text-hide">{{ site.title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for nav in site.data.navbar.nav %}
          <li class="nav-item"><a class="nav-link" href="{{ nav.link }}">{{ nav.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
