<div class="container pt-5 pb-5">
	<div class="row">
		<div class="col-md mb-3">
			<h2 class="text-center">Our Last Projects</h2>
			<p class="font-weight-light text-center">
				Some of our last project. The full project are listed on our Projects tab above.
			</p>
		</div>
	</div>
	<!-- the projects begin -->
	<div class="row">
    {% assign sorted-project = site.posts | sort: 'date' | reverse %}
		{% for project in sorted-project limit: 4 %}
		<div class="col-md">
			<div class="card">
        {% if project.image == '' %}
          <img src="https://via.placeholder.com/800x600?text=MAI" />
        {% else %}
			   <img src="{{site.url}}/uploads/{{project.image}}" />
        {% endif %}
			  <div class="card-body">
			    <h5 class="card-title">{{ project.client }}</h5>
			    <p class="card-text">{{ project.title }}</p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">{{ project.location }}</li>
			    <li class="list-group-item">{{ project.date | date_to_string }}</li>
			  </ul>
			</div>
		</div>
    {% endfor %}
	</div>
	<!-- !end the projects -->
	<div class="row pt-4">
		<div class="col-md">
			<p class="text-center">For all the projects are listed <a href="{{site.url}}/projects/">here</a>.</p>
		</div>
	</div>
</div>
