<div class="experience-list pt-5 pb-5">
  <div class="container">
    <table class="table table-sm table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Client</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for post in paginator.posts %}
        <tr>
          <th scope="row">{{ paginator.page | times: site.pagination.per_page | minus: 10 | plus: forloop.index }}</th>
          <td>{{ post.title }}</td>
          <td><a href="{{ post.web }}" target=_blank>{{ post.client }}</a></td>
          <td>{{ post.location }}</td>
          <td>{{ post.date | date_to_string }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Pagination links -->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled" tabindex="-1"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for count in (1..paginator.total_pages) %}
          {% if count == paginator.page %}
            <li class="page-item active"><a class="page-link" href="#">{{ count | pnumber}}</a></li>
          {% elsif count == 1 %}
            <li class="page-item"><a class="page-link" href="{{ site.pagination.permalink | replace: ':num', 'index.html' }}">{{ count | pnumber }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ site.pagination.permalink | replace: ':num', count }}index.html">{{ count | pnumber}}</a></li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
        {% else %}
          <li class="page-item disabled" tabindex="-1"><a class="page-link" href="#">Next</a></li>
        {% endif %}

      </ul>
    </nav>
    <!-- /Pagination links -->
  </div>

</div>
