<div class="container pt-5 pb-5">
	<div class="row pb-5">
		<div class="col-md">
      <h2 class="text-center"><span class="font-weight-light">What we </span><span class="font-weight-bold">Can Do?</span></h2>
			<p class="font-weight-light text-center">We give you the best end-to-end in Media and Communication services from offline to vica versa</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div class="text-center">
				<div class="p-2"><i class="fas fa-brush fa-3x"></i></div>
				<h4>Creative Concept</h4>
        <p class="font-weight-light">We over you a creative concept based on your strength.</p>
			</div>
		</div>
		<div class="col-md">
			<div class="text-center">
				<div class="p-2"><i class="fas fa-phone-square fa-3x"></i></div>
				<h4>Communication</h4>
        <p class="font-weight-light">Giving the best added value in the way of your communication.</p>
			</div>
		</div>
		<div class="col-md">
			<div class="text-center">
				<div class="p-2"><i class="fas fa-chart-line fa-3x"></i></div>
				<h4>Marketing</h4>
        <p class="font-weight-light">Getting customer based on your unique selling point and data driven.</p>
			</div>
		</div>
		<div class="col-md">
			<div class="text-center">
				<div class="p-2"><i class="fas fa-pencil-ruler fa-3x"></i></div>
				<h4>Measurable</h4>
        <p class="font-weight-light">Giving you the right measurement tools to analyze the effectiveness.</p>
			</div>
		</div>
	</div>
</div>
