<div class="container pt-5 pb-5">
	<div class="row pb-4">
		<div class="col-md">
			<h2 class="text-center">Our Lovely Teammates</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<!-- corousel -->
			<div id="maiCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
        {%- include teams-lists.html -%}
          <a class="carousel-control-prev" href="#maiCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only text-dark">Previous</span>
          </a>
          <a class="carousel-control-next" href="#maiCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only text-dark">Next</span>
          </a>
        </div>
		  </div>
      <!-- /corousel -->
	 </div>
  </div>
</div>
