<div class="container main">
	<div class="row pb-5">
		<div class="col-md-6 pt-5">
			<h1 class="main-heading">
				We designed all your creative things with full of ❤ since 2015
			</h1>
			<p class="text-justify main-subtitle">
				Established in 2015, PT. Miskat Alam Internasional is an event organizer company in Jakarta that handles all your creatives with a lot of cup of coffee and full of ❤.
			</p>
			<button type="button" class="btn btn-primary">Learn More</button>
		</div>
		<div class="col-md-6 pt-5">
			<img src="assets/img/main-img.jpg" alt="" class="img-fluid rounded">
		</div>
	</div>
</div>
